<!DOCTYPE html>

<div class="disciplinas" style="display: flex; flex-direction:column; align-items:center;">
  <h1 style="color: #e63946;">Disciplinas</h1>
  <ul>
    {{#disciplinas}}
    <li style="color: #457b9d">{{code}} - {{name}}</li>
    {{/disciplinas}}
  </ul>
</div>
