<!DOCTYPE html>
<div class="main" style="display: flex; flex-direction:column; align-items:center;">
  <h1 style="color: #e63946;">{{name}}</h1>
  <div class="links" style="display: flex; flex-direction: column; align-items: flex-start;">
    <a href="{{cvUrl}}" style="text-decoration:underline; color: #457b9d">cv</a>
    <a href="{{disciplinasUrl}}" style="text-decoration:underline; color: #457b9d">disciplinas</a>
    <a href="{{midiaUrl}}" style="text-decoration:underline; color: #457b9d">midia</a>
  </div>
</div>
