<!DOCTYPE html>

<div class="midia" style="display: flex; flex-direction:column; align-items:center;">
  <h1 style="color: #e63946;">Midia</h1>
  <div class="links" style="display: flex; flex-direction: column; align-items: flex-start;">
    {{#midias}}
    <a href="{{url}}" style="text-decoration:underline; color: #457b9d">{{name}}</a>
    {{/midias}}
  </div>
</div>
